.jewelry_block{
	margin-bottom: 200px;
}


.jewelry_photo{
	width: 100%;
}


.jewelry_obj{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	max-width: calc(100%-200px);
   margin: 0 auto 200px;
}


.jewelry {
	padding: 0 15px;
	margin-bottom: .9375rem;

}

.jewelry:hover img {
	border-bottom: 4px solid black;
}

.jewelry p {
	
}



.jewelry img{
	width: 100%;
 	border-bottom: 4px solid transparent;
	transition: border-color .2s ease-out;
}